<div class="emoji-palette-wrapper">
  {{#if searchEnabled}}
    <div class="emoji-search-container"></div>
  {{/if}}
  {{emoji-list class="emoji-icon-palette" 
    category=currentCategory 
    emojiList=currentEmojiList 
    selectEmoji=(action "selectEmoji")}}
  <div class="horizontal-ruler"></div>
  <div class="emoji-category-holder">
    {{#each-in emojilist as |category|}}
      <img src="/ember-emojipalette/images/{{category}}.svg" alt="{{category}}" class="emoji-category-icon emoji-icon-{{category}}" {{action "changeCategory" category}}>
    {{/each-in}}
  </div>
</div>
